[user]
	name = Roman Schader
	email = me@rschader.com
	user = romanskie
[core]
	editor = vim
[alias]
	plog = log --graph --pretty=format:'%h -%d %s %n' --abbrev-commit --date=relative --branches
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
