[user]
	name = Roman Schader
[core]
	editor = nvim
[alias]
	plog = log --graph --pretty=format:'%h -%d %s %n' --abbrev-commit --date=relative --branches
[merge]
    tool = nvim
[mergetool "nvim"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
